<link rel="stylesheet" href="/metronome/main.css">
<script src="http://cwilso.github.io/AudioContext-MonkeyPatch/AudioContextMonkeyPatch.js"></script>
<script src="/metronome/metronome.js"></script>
<div id="metronome-controls">
	<button id="startMetronomeBtn" type="button" class="btn btn-success">Start</button>
	<span class="spacer-8px"></span>
	<span id="tempoVal">ERROR</span><span> BPM with&nbsp;</span>
	<select onchange="metronome.setNoteResolution(this.selectedIndex);">
		<option>16th note</option>
		<option>8th note</option>
		<option selected>Quarter note</option>
	</select>
	<span>&nbsp;subdivisions
	</span>
</div>
<div id="metronome-dots-container"></div>

<script type="text/javascript">
	metronome = new Metronome();
	function metronomeOnCookieName() {
		// we use the href because that way it's specific to the deck and input modality,
		// and therefore, current session
		return 'metronomeOn' + window.location.href;
	}

	$('#startMetronomeBtn').click(function () {
		var text;
		if (metronome.isPlaying()) {
			metronome.stop();
			Cookies.set(metronomeOnCookieName(), false);
			text = 'Play';
		} else {
			metronome.start();
			Cookies.set(metronomeOnCookieName(), true);
			text = 'Stop';
		}
		$('#startMetronomeBtn').text(text);
	});

	$(document).ready(function () {
		if (Cookies.get(metronomeOnCookieName()) == 'true') {
			// I guess it takes a second for the audioContext to be setup
			setTimeout(function () {
				$('#startMetronomeBtn').trigger('click');
			}, 250);
		}
	});
</script>