<link rel="stylesheet" href="/metronome/main.css">
<script src="http://cwilso.github.io/AudioContext-MonkeyPatch/AudioContextMonkeyPatch.js"></script>
<script src="/metronome/metronome.js"></script>
<div id="metronome-controls">
	<button id="startMetronomeBtn" type="button" class="btn btn-success">Start</button>
	<span class="spacer-8px"></span>
	<span id="tempoVal">ERROR</span><span> BPM with&nbsp;</span>
	<select onchange="noteResolution = this.selectedIndex;">
		<option>16th note</option>
		<option>8th note</option>
		<option selected>Quarter note</option>
	</select>
	<span>&nbsp;subdivisions
	</span>
</div>
<div id="metronome-dots-container"></div>

<script type="text/javascript">
	$('#startMetronomeBtn').click(function () {
		var state = play();
		if (state == "Stop") {
			Cookies.set('metronomeOn', true);
		} else {
			Cookies.set('metronomeOn', false);
		}
		$('#startMetronomeBtn').text(state);
	});

	$(document).ready(function () {
		if (Cookies.get('metronomeOn') == 'true') {
			// I guess it takes a second for the audioContext to be setup
			setTimeout(function () {
				var state = play();
				$('#startMetronomeBtn').text(state);
			}, 500);
		}
	})
</script>