{% extends "base.html" %}
{% block title %}Study - Choose Input{% endblock %}
{% block head %}
<script src="https://use.fontawesome.com/c94eedc752.js"></script>
{% endblock %}


{% block content %}
<style>

	.container {
		text-align: center;
	}
	.btn-group {
		margin: 15px;
	}
	a i {
		margin-right: 7px;
	}
</style>

<div class="container">
	<h1>How will you be answering questions?</h1>
	<div class="btn-group btn-group-lg" role="group" aria-label="Input-Modality">
		{% for input_modality in input_modalities %}
			<a href="/decks/{{deck_id}}/study?input_modality_id={{input_modality.input_modality_id}}"   class="btn btn-default">
				{% include 'input_modality_icon.html' %}
				{{ input_modality.name }}
			</a>
		{% endfor %}
	</div>
</div>
{% endblock %}