{% extends "base.html" %}
{% block title %}Study - Choose Input{% endblock %}
{% block head %}
<script src="https://use.fontawesome.com/c94eedc752.js"></script>
{% endblock %}


{% block content %}
<style>
	#left-hand-icon {
	transform: rotateY(180deg);
	}
	.container {
		text-align: center;
	}
	.btn-group {
		margin: 15px;
	}
	button i {
		margin-right: 6px;
	}
</style>

<div class="container">
	<h1>How will you be answering questions?</h1>
	<div class="btn-group btn-group-lg" role="group" aria-label="Input-Modality">
		{% for input_modality in input_modalities %}
			<a href="/decks/{{deck_id}}/study?input_modality_id={{input_modality.input_modality_id}}"   class="btn btn-default">
				{% if input_modality.name == 'MIDI Left Hand' %}
					<i id="left-hand-icon" class="fa fa-hand-paper-o"></i>
				{% elif input_modality.name == 'MIDI Right Hand' %}
					<i class="fa fa-hand-paper-o"></i>
				{% elif input_modality.name == 'Text' %}
					<i class="fa fa-i-cursor"></i>
				{% elif input_modality.name == 'MIDI Both Hands' %}
					<i class="fa fa-handshake-o"></i>
				{% endif %}

				{{ input_modality.name }}
			</a>
		{% endfor %}
	</div>
</div>
{% endblock %}