{% extends "base.html" %}
{% block title %}Decks{% endblock %}
{% block decks_active %}active{% endblock %}

{% block content %}
<style>
	.deck {
		padding: 4px 00px;
	}
</style>

<div class="container">
	<h1>Decks</h1>

	{% for deck in decks %}

	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{ deck.name }}</h3>
			</div>
			<div class="panel-body">
				<p>{{ deck.descr }}</p>
				<a href="decks/{{deck.deck_id}}/study">
					<button type="button" class="btn btn-primary">Study</button>
				</a>
			</div>
		</div>
	</div>
	
	{% endfor %}

</div>

{% endblock %}