{% extends "base.html" %}
{% block title %}Study{% endblock %}
{% block content %}

<link rel="stylesheet" type="text/css" href="/style/study.css">

<div class="card">
    <div class="question">Hey hey</div>
    <div class="input-group">
      <input id="answer-input" type="text" placeholder="Answer" class="form-control" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
      <span class="input-group-btn">
        <button id="submit-answer" class="btn btn-primary" type="button">Submit</button>
      </span>
    </div><!-- /input-group -->
    <!-- </div> -->
    <div class="card-footer" style="
    border-top: 1px solid lightgray;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -15px;
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #F7F7F7;
    height: 46px;
    ">
        <div id="incorrect-label" style="display: none;">Incorrect</div>
        <div id="correct-label" style="display: none;">Correct</div>
    </div>
</div>

<script src="/js/lib/js.cookie.js"></script>
<script>
    var alreadySetColorToGreen = false;
    function endOfDay() {
        var end = new Date();
        end.setHours(23,59,59,999);
        return end;
    }

    // display elapsed time in the lower right
    // should definitely store this data in a cookie...
    // as well as whether the metronome is on
    function startTimer() {
        var secondsElapsed = Cookies.get('secondsElapsed');
        if (secondsElapsed == undefined) {
            secondsElapsed = 0;
            Cookies.set('secondsElapsed', 0, { expires: endOfDay() });
        } else {
            // convert to integer
            secondsElapsed = +secondsElapsed;
        }

        if (secondsElapsed > 60 && !alreadySetColorToGreen) {
            $('#timer').css('color', 'green');
            alreadySetColorToGreen = true;
        }

        var seconds = secondsElapsed %  60;
        var minutes = Math.floor(secondsElapsed /  60);
        var hours = Math.floor(secondsElapsed / 60 / 60);

        var time = pad(minutes) + ":" + pad(seconds);
        if (hours > 1) {
            time = hours + ":" + time
        }

        document.getElementById('timer').innerHTML = time;

        secondsElapsed += 1;
        Cookies.set('secondsElapsed', secondsElapsed);

        var t = setTimeout(function() { startTimer(); }, 1000);
    }
    function pad(i) {
        if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
    }

    $(document).ready(function () {
        startTimer();
    })  
</script>

<div id="timer"></div>

<script src="/js/lib/webmidi.min.js"></script>
<script src="/js/bundle.js"></script>
<script type="text/javascript">
    var game = new Game({{ session_id }}, {{ deck.deck_id }});
    game.loadNextQuestion();
</script>


{% include 'metronome/metronome.html' %}

{% endblock %}