{% extends "base.html" %}
{% block title %}Study{% endblock %}

{% block head %}
<script src="https://use.fontawesome.com/c94eedc752.js"></script>
<script src="/js/lib/js.cookie.js"></script>
<link rel="stylesheet" type="text/css" href="/style/study.css">
{% endblock %}

{% block content %}

<div class="card">
	<i id="card-was-correct-check" class="fa fa-check-square" title="This check means you have answered this question fast enough previously. It is being shown to you again to keep you on your toes 😉."></i>
    <div id="question">Loading...</div>
    <div class="input-group">
      <input id="answer-input" type="text" placeholder="Answer" class="form-control" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
      <span class="input-group-btn">
        <button id="submit-answer" class="btn btn-primary" type="button">Submit</button>
      </span>
    </div><!-- /input-group -->
    <!-- </div> -->
    <div class="card-footer" id="card-status">
        <span id="incorrect-label">Incorrect</span>
        <span id="correct-label"><strong>Correct</strong>, press any key to move to the next question</span>
        <span id="cards-below-median-label">8/10</span>
	</div>
	
	
	<div class="card-footer" id="progress-bar-container">
	
		<div class="progress">
			<div id="progress-bar" class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
	</div>

</div>

<a id="input-modality" class="label label-default"
   href="/decks/{{deck.deck_id}}/study">
	{% include 'input_modality_icon.html' %}
	{{ input_modality.name }}
</a>

<div id="title-card">
	<div id="press-any-key-to-continue">Press "C" to Begin</div>
</div>

<div id="bottom-right">

	<div id="midi-connected">
		<!-- <i class="fa fa-plug fa-2x" aria-hidden="true"></i> -->
	</div>

	<div id="timer"></div>

	<div class="dropup" id="midi-input-dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" id="" data-toggle="dropdown" aria-haspopup="true"
		 aria-expanded="false">
			<span id="midi-input-dropdown-text">
				<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Choose a MIDI input &nbsp;
			</span>
			<span class="caret"></span>
		</button>
		<ul id="midi-input-dropdown-list" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
		</ul>
	</div>
			  
</div>

<script src="/js/lib/webmidi.min.js"></script>
<script src="/js/bundle.js"></script>
<script type="text/javascript">
    var game = new Game({{ mf_session.session_id }}, {{ deck.deck_id }}, {{ session['user_id'] }});
    game.loadNextQuestion();
</script>


{% include 'metronome/metronome.html' %}

{% endblock %}