{% extends "base.html" %}
{% block title %}Create Account{% endblock %}

{% block content %}

<style type="text/css">
h1 {
	text-align: center;
	margin-bottom: 15px;
}
.error-text {
	color: red;
	text-align: center;
}
.notice-text {
	color: green;
	text-align: center;
}
</style>

<div class="container">
	<h1>Create an account</h1>

	<form style="max-width: 350px; margin: auto" action="/user" method="post">
		<div class="form-group error-text">
			<span>{{ error_msg }}</span>
		</div>

		<div class="form-group notice-text">
			<span><p><strong>PLEASE USE A PASSWORD YOU HAVE NEVER USED BEFORE.</strong></p>SSL has not been setup yet (notice there is no green lock icon in the address bar) and your password will be sent over the network in clear text. It <em>is</em> being hashed and stored in the database securely. This means that any password you enter here will be vulnerable only between the time you press the "Submit" button and when the next page loads.</span> 
		</div>

		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
				<input id="firstName" type="text" class="form-control" name="user_name" placeholder="User name">
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><strong>@</strong></span>
				<input id="email" type="text" class="form-control" name="email" placeholder="Email">
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
				<input id="password" type="password" class="form-control" name="password" placeholder="Password">
			</div>
		</div>

		<div class="form-group">
			<div class="input-group" style="float: right">
				<button type="submit" class="btn btn btn-success">Submit</button>
			</div>
		</div>
	</form>

</div>

{% endblock %}