{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<style type="text/css">
h1 {
	text-align: center;
	margin-bottom: 15px;
}
.error-text {
	color: red;
	text-align: center;
}
div#create-account {
	text-align: center;
}
</style>

<div class="container">

	<h1>Login</h1>

	<form style="max-width: 350px; margin: auto" action="/user/login?original_path={{ original_path }}" method="post">
		<div class="form-group error-text">
			<span>{{ error_msg }}</span>
		</div>

		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
				<input id="firstName" type="text" class="form-control" name="login" placeholder="User name or email">
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
				<input id="password" type="password" class="form-control" name="password" placeholder="Password">
			</div>
		</div>

		<div class="form-group" style="overflow: hidden;">
			<div class="input-group" style="float: right; clear: both;">
				<button type="submit" class="btn btn btn-primary">Login</button>
			</div>
		</div>

	</form>

	<h1>Or

	</h1>
	<div id="create-account">
		<a href="/user/create_account" type="submit" class="btn btn btn-success">Create an Account</a>
	</div>

</div>

{% endblock %}