<style type="text/css">
	.question-container {
		font-size: 48px;
		text-align: center;
		padding-bottom: 10px;
	}
	.gray {
		color: gray;
	}
	.green {
		color: #2fad2f;
	}
	.red {
		color: #db4949;
	}
	.chord {
		margin: 0px 5px;
	}
	.progression {
		font-family: "Times New Roman", Georgia, Serif;
		background-color: #fafafa;
		border: 1px solid gray;
		text-align: center;
		padding: 2px 12px;
		border-radius: 3px;
	}
	sup, sub {
		font-size: 23px;
	}
	sub {
		position: relative;
		left: -.5em;
		top: -.3em;
		margin-right: -.5em;
		vertical-align: sub;
	}
	sup {
		position: relative;
		top: -.1em;
		margin-left: -0.3em;
		vertical-align: super;
	}
</style>

<div class="question-container">
		<span class="progression">
		{% for symbol in symbols %}
			<span class="chord gray">{{ symbol }}
				{% if chords[loop.index0].inversion == 1 or chords[loop.index0].inversion == 2 %}
					<sup>6</sup><!-- whitespace effects the layout...
			-->{% endif %}<!-- so goddamn hacky. but it works!
			-->{% if chords[loop.index0].inversion == 2 %}<!--
					--><sub>4</sub><!--
				-->{% endif %}
			</span> 
		{% endfor %}
		<span>in {{ root.pretty_name }}</span>
</div>
